body {
	margin:0;
	padding:0;
	width:100%;
	color: black;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue/HelveticaNeueMedium.ttf");
}

.main {
	/*background: linear-gradient(180deg, rgba(120,200,0,1) 0%, rgba(120,200,0,1) 18%, rgba(0,0,0,0) 19%);*/
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
h2 {
	font-family: HelveticaNeue;
	font-size:40px;
	font-weight:normal;
	color: #145fb7;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
a {
	text-decoration: none;
}
.header {
	padding: 0;
}
.header_resize {
	margin: 0 auto;
	padding: 0;
	width: 1320px;
}
.logo {
	padding:0 0 0 20px;
	width:auto;
	height:108px;
	/*background-color:#fff;*/
}
.logo-alt {
	padding-top: 50px;
	font-family: HelveticaNeue;
	font-size:40px;
	font-weight:normal;
	color: #145fb7;
}
h1 {
	margin:0;
	padding:30px 0 0;
	font-size:50px;
	font-weight:normal;
	line-height:1.2em;
}
h1, h1 a, h1 a:hover {
	text-decoration:none;
}
h1 span {
}
h1 small {
	padding-left:12px;
	font-size:20px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	color:#afc7da;
}
.slider {
	padding:10px 0 0;
	background:no-repeat center bottom;
}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}
.menu_nav {
	margin:0 auto;
	padding:44px 0 0;
	height:46px;
	float:right;
}
.menu_nav ul {
	list-style:none;
	padding:0;
	height:46px;
	float:right;
	background:none;
}
.menu_nav ul li {
	margin:0;
	padding:0;
	float:left;
	border-left:1px solid #d5d5d5;
	text-align: center;
	font-family: HelveticaNeue;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:0 20px;
	font-size:18px;
	line-height:18px;
	color: #707070;
	text-decoration:none;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color: #145fb7;
	font-weight: bold;
}
.content {
	padding:12px 0 0;
}
.content_resize {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin: 0 auto;
	padding: 24px 30px;
	width: 100%;
	max-width: 1250px;
	min-width: 1250px;
	border-bottom:1px solid #abb6b6;
	background: white repeat-x left bottom;
}
@media only screen and (min-width: 1310px) {
	.content_resize {
		padding:24px 0px;
		max-width: 1310px;
	}
}
.mainbar {
	flex: 1;
	width: 100%;
}
.sidebar {
	flex: 1;
	max-width: 240px;
	padding-left: 100px;
	text-align: right;
}
.content .mainbar h2 {
	font-size: 40px;
}
.content .mainbar div.img {
	margin:0;
	padding:12px 0 0;
	float:left;
	width:180px;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
	border:none;
}
.content .mainbar .article {
	margin:0 0 40px;
	padding:0;
}
.content .mainbar .post_content {
	width: 100%;
}
.content .sidebar .gadget {
	margin:0 0 12px;
	padding:8px 0;
}
.content .sidebar h2 {
	color: #145fb7;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#6e6e6e;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0;
}
ul.sb_menu li span {
	color: black;
	text-decoration:none;
	margin-left:-16px;
	padding:4px 8px 4px 16px;
}
ul.ex_menu li span {
	font-weight:bold;
	color: black;
	text-decoration:none;
}
ul.sb_menu li span:hover, ul.ex_menu li a:hover {
	color: black;
	font-weight:bold;
	text-decoration:none;
}
p.spec {
	padding:0 0 16px;
}
p.infopost {
	margin:0 0 16px;
	padding:0 0 12px;
	color:#6e6e6e;
	border-bottom:1px solid #d5d5d5;
}
p.infopost a {
	padding:0 2px;
	color:#6e6e6e;
	text-decoration:underline;
}
div.img a.com {
	display:block;
	float:left;
	margin:0;
	padding:8px 0;
	width:180px;
	text-align:center;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	color:#fff;
	background:#afc7da;
}
div.img a.com:hover {
	text-decoration:none;
}
a.rm {
	display:block;
	float:right;
	padding:3px 12px;
	font-weight:bold;
	text-decoration:underline;
	color:#232323;
}
.content p.pages {
	margin:0;
	padding:0 0 24px;
	font-size:11px;
	color:#6d6d6d;
	text-align:left;
}
.content p.pages span, .content p.pages a {
	padding:8px 12px;
	text-decoration:none;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:#afc7da;
	border:1px solid #afc7da;
}
.content p.pages a {
	color:#6d6d6d;
	background:#fff;
	border:1px solid #c9c9c9;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	float:left;
	padding:0;
}
#formsearch {
	margin:0;
	padding:16px 0;
	width:auto;
	height:30px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:8px 6px;
	float:left;
	width:172px;
	font-size:12px;
	line-height:14px;
	color:#a8acb2;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}

.footer {
	width: 100%;
	background-color: #145fb7;
	height: 400px;
	min-width: 1310px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-family: HelveticaNeue;
	color: #ffffff;
	overflow: hidden;
}
.footer a {
	color: white;
}
.footer-item {
	flex: 0.4;
	position: relative;
}
.footer-item-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.footer-item-inner dev {

}
.value {
	font-size: 50px;
	font-weight: bold;
	margin: 25px;
}
.key {
	font-size: 25px;
	font-weight: normal;
	margin: 25px;
}
#map img{
	max-height: 300px;
	/*background-color: grey;*/
}

.section {
	margin: 20px;
	padding-left: 40px;
	border-left: solid 1px lightgray;
}

.newsLink {
	cursor: pointer;
}