<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SM Motywacja</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/coin-slider.css" />
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/coin-slider.min.js"></script>
</head>
<body>
  <div class="header">
    <div class="header_resize">

      <div class="menu_nav">
        <ul>
          <li {% if page_name == 'main' %} class="active"{% endif %} style="min-width: 180px;"><a href="index.html"><span>Strona główna</span></a></li>
          <li style="min-width: 150px;"><a href="https://drive.google.com/drive/folders/18o1mEEGbmyPMP8zblDLM5AHn3n2ff6uV?usp=sharing"><span>Do pobrania</span></a></li>
          <li {% if page_name == 'about' %} class="active"{% endif %} style="min-width: 100px;"><a href="about.html"><span>O nas</span></a></li>
          <li {% if page_name == 'contact' %} class="active"{% endif %} style="min-width: 120px;"><a href="contact.html"><span>Kontakt</span></a></li>
        </ul>
      </div>

      <div class="logo">
{#            <h1><a href="index.html"><img src="images/logo.png" alt=""></a></h1>#}
            <div class="logo-alt">Motywacja</div>
      </div>

      <div class="slider">
        <div id="coin-slider">
            <a href="#">
                <img src="images/zdjecie1.jpg" width="960" height="360" alt="" />
                <span>Aliquam fermentum arcu et velit fringillaonec ut felis ipsum. Maecenas lacinia orci cursuslacus sodales in posuere risus gravida. Lorem ipsum dolor sit amet, consectetng ipsum, in euismod velit fringilla vitae.</span></a>
            <a href="#">
                <img src="images/zdjecie2.jpg" width="960" height="360" alt="" />
                <span>Tasellus ornare adipiscing ipsum, in euismod velit fringilla vitae. Aliquam fermentum arcu et velit fringilla vitae consequat lectus tempus. Donec at ante nec sem bibendum porttitor. Mauris eu accumsan justo. Suspendisse lacus ante.</span></a>
            <a href="#">
                <img src="images/zdjecie3.jpg" width="960" height="360" alt="" />
                <span>Lorem ipsum dolor sit amet, consectetng ipsum, in euismod velit fringilla vitae. Aliquam fermentum arcu et velit fringillaonec ut felis ipsum. Maecenas lacinia orci cursuslacus sodales in posuere risus gravida.</span></a>
        </div>
      </div>

    </div>
  </div>

  <div class="content">
    <div class="content_resize">

        {% block body %}
        {% endblock %}

    </div>
  </div>

{# FOOTER #}
  <div class="footer">
    <div class="footer-item">
        <div class="footer-item-inner">
            <div style="margin-bottom: 60px;">
                <div class="key">
                    Zadzwoń
                </div>
                <div class="value">
                    <a href="tel:{{ footer.tel }}">{{ footer.tel }}</a>
                </div>
            </div>
            <div>
                <div class="key">
                    Napisz
                </div>
                <div class="value">
                    <a href="mailto:{{ footer.email }}">{{ footer.email }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-item">
        <div class="footer-item-inner">
            <div id="map" class="footer-item">
                <img src="images/motywacjaMap.png">
            </div>
        </div>
    </div>
  </div>

{#<script>#}
{#    // Initialize and add the map#}
{#    function initMap() {#}
{#        // The location of Uluru#}
{#        var uluru = {lat: -25.344, lng: 131.036};#}
{#        // The map, centered at Uluru#}
{#        var map = new google.maps.Map(document.getElementById('map'), {zoom: 4, center: uluru});#}
{#        // The marker, positioned at Uluru#}
{#        var marker = new google.maps.Marker({position: uluru, map: map});#}
{#    }#}
{#</script>#}
{#<script defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>#}

</body>
</html>
