{% for n in news %}
    <div id="{{ n.title }}_{{ n.date }}" class="article">
        <h2>{{ n.title }}</h2>
        <p class="infopost">{{ n.date }}
        <div class="post_content">
            {% for part in n.text %}
                <p>
                    {{ part }}
                </p>
            {% endfor %}
{#            <p class="spec"><a href="#" class="rm">Read more...</a></p>#}
        </div>
        <div class="clr"></div>
    </div>
{% endfor %}

<p class="pages"><small>Page 1 of {{ pages }} &nbsp;&nbsp;&nbsp;</small>
{#    <span>1</span>#}
    {% for i in range(pages)  %}
        <a href="#">{{ i + 1 }}</a>
    {% endfor %}
{#    <a href="#">2</a>#}
{#    <a href="#">&raquo;</a>#}
</p>