{% extends "_base.html" %}

{% block body %}

    {% for section in data %}

        <div class="section">
            <h2>{{ section.title }}</h2>
            {% for line in section.text_lines %}

                {{ line }}<br/>

            {% endfor %}
        </div>

    {% endfor %}

    <div class="section">
        {% if people %}
            <h2>Osoby do kontaktu:</h2>
            {% for person in people %}

                <h3>{{ person.name }}</h3>
                tel: <a href="tel:{{ person.tel }}">{{ person.tel }}</a><br/>
                email: <a href="mailto:{{ person.email }}">{{ person.email }}</a>

            {% endfor %}
        {% endif %}
    </div>

{% endblock %}