{% extends "_base.html" %}

{% block body %}

<div class="mainbar">
    {% include '_news.html' %}
</div>

<div class="sidebar">
    <div class="searchform">
    </div>
    <div class="gadget">
      <h2>Archiwum</h2>
      <ul class="ex_menu">
          {% for n in news %}
            <li>
                <span class="newsLink" target="{{ n.title }}_{{ n.date }}">{{ n.title }}</span><br/>
                {{ n.date }}
            </li>
          {% endfor %}
      </ul>
    </div>
</div>

{% endblock %}